.hero-section {

    display: grid;
    grid-template-columns: 31.625rem 15.1875rem;
    column-gap: 6.625rem;

    padding-top: 8.75rem;
    padding-bottom: 5.5rem;
    margin: 0 auto;
    max-width: fit-content;
}

.hero-section-left {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
}

.hero-section-left-first-child {
    font-size: 2.75rem;
    font-weight: 700;
}

.hero-section-left button {
    border: none;
    background-color: var(--primary);
    padding: 1rem 1.25rem;

    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.hero-section-right div img {
    width: 100%;

}

.recent-post-container {
    background-color: #EDF7FA;
}


.recent-post {
    max-width: 53.4375rem;

    margin: 0 auto;
    padding: 2rem;
}
.recent-post-top {
    display: flex;
    justify-content: space-between;

    padding-bottom: 1.25rem;
}
.recent-post-title {
    font-size: 1.375rem;
}

.view-all-link {
    color: var(--secondary);
    text-decoration: none;
}

.post-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
}

.post-card {
    background-color: white;
    padding: 1.4375rem;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
}

.post-card-title {
    margin-top: 0;
    font-size: 1.625rem;
    font-weight: 700;
}

.span-1 {
    padding-right: 1rem;

    border-right: var(--dark) 0.0625rem solid;
}

.span-2 {
    padding-left: 1rem;
}

.featured-work-section {
    max-width: 53.4375rem;
    padding: 2rem;

    margin: 0 auto;
}

.featured-work-title {
    font-size: 1.375rem;

    display: flex;
    justify-content: left;
}

.featured-work-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
}

.featured-work {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1.125rem;

    padding: 1.25rem 0;

    border-bottom: 1px solid rgb(231, 230, 230);
}

.featured-work-image-container {
    width: 15.375rem;
}
.featured-work-image {
    width: 100%;
}

.featured-work-header {
    font-size: 1.875rem;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 1rem;
}

.featured-work-date {
    color: white;
    font-weight: 700;
    font-size: 1.125rem;

    background: var(--dark);

    padding: 0 1ch;

    border-radius: 1rem;
}


.featured-work-type {
    color: var(--light);
    font-size: 1.25rem;

    padding-left: 2rem;
}


@media (max-width: 710px) {
    .recent-post, .featured-work-section {
        max-width: 26.125rem;
    }

    .post-card-container {
        grid-template-columns: 1fr;
    }

    .featured-work {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .featured-work-image-container {
        width: 100%;
    }

    .featured-work-image-grid {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 920px) {

    .hero-section {

        grid-template-columns: 1fr;
        row-gap: 2.696rem;

        padding-top: 8.8vw;
        padding-left:  6.4vw;
        padding-right: 6.4vw;
        
        max-width:  31.625rem;

        text-align: center;
    }

    .hero-section-right {
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        justify-content: center;

    }

    .hero-section-right div {
        width: 170.86px;
        height: 170.86px;

    }
}

@media (max-width: 539px)
{
    .hero-section-left-first-child {
        font-size: 2rem;
        font-weight: 700;
    }

}

